/* spa-component-button: release */
.component.button {
    background-color: #dde9ff;
    display: inline-table;
    height: 69px;
    cursor: pointer; }
    .component.button:hover {
        background-color: #bbd3ff; }
    .component.button.focus {
        background-color: #bbd3ff; }
    .component.button.click {
        background-color: #a8c9ff; }
    .component.button .icon {
        height: 69px;
        width: 69px;
        display: table-cell;
        background: no-repeat center center; }
    .component.button .text {
        display: table-cell;
        padding: 9px 18px;
        vertical-align: middle;
        text-align: center; }
        .component.button .text:empty {
            padding: 0; }
